[submodule "other_solvers/solvers/cvc5"]
	path = other_solvers/solvers/cvc5
	url = https://github.com/cvc5/cvc5.git
[submodule "other_solvers/cvc5"]
	path = other_solvers/cvc5
	url = https://github.com/cvc5/cvc5.git
[submodule "other_solvers/dryad_synth"]
	path = other_solvers/dryad_synth
	url = https://github.com/purdue-cap/DryadSynth.git
