[submodule "other_solvers/solvers/cvc5"]
	path = other_solvers/solvers/cvc5
	url = https://github.com/cvc5/cvc5.git
[submodule "other_solvers/cvc5"]
	path = other_solvers/cvc5
	url = https://github.com/cvc5/cvc5.git
[submodule "other_solvers/dryad_synth"]
	path = other_solvers/dryad_synth
	url = https://github.com/purdue-cap/DryadSynth.git
[submodule "other_solvers/eusolver_priority"]
	path = other_solvers/eusolver_priority
	url = https://github.com/akrasuski1/eusolver-priority.git
[submodule "eusolver_clone"]
	path = eusolver_clone
	url = https://github.com/yuntongzhang/eusolver.git
[submodule "other_solvers/eusolver"]
	path = other_solvers/eusolver
	url = https://github.com/yuntongzhang/eusolver.git
